<div class="modal fade" id="projectModal" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modal-title"></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                      <img id="modal-image" src="" class="img-fluid mb-3" alt="Project">
                      <p id="modal-desc"></p>
                      <p><strong>Technologies:</strong> <span id="modal-tech"></span></p>
                      <a id="modal-github" href="#" class="btn btn-primary me-2">GitHub</a>
                      <a id="modal-demo" href="#" class="btn btn-primary">Demo</a>
                  </div>
              </div>
          </div>
      </div>